.lb-workout-panel {
  .btn-xxs {
    font-size: 10px;
    text-align: center;
    padding: 1px 3px;
    .glyphicon-plus, .glyphicon-edit {
      text-indent: 1px;
    }
  }
  .list-group-item {
    overflow: hidden;
  }
  .edit-options {
      position: absolute;
      right: -60px;
      top: 0;
      height: 100%;
      padding: 10px;
      border-radius: 0;
      border: 0;
      border-left: 1px solid #eee;
  }
  .show-edit-options {
    &.list-header {
      background-color: lighten($brand-info, 20%);
    }
    & + .ng-scope {
      .list-group-item {
        background-color: #fafafa;
      }
    }
    .edit-options {
      right: 0;
      @include transition(right ease-in-out 0.2s);
    }
  }
  .list-header {
    .show-edit {
      margin-right: 0;
    }
    .close-btn {
      display: none;
    }
    .show-btn {
      display: block;
    }
    &.show-edit-options {
      .show-edit {
        margin-right: 50px;
      }
      .close-btn {
        display: block;
      }
      .show-btn {
        display: none;
      }
    }
    .edit-options {
      opacity: 0;
      right: -60px;
      background-color: lighten($brand-info, 25%);
    }
    &.show-edit-options {
      .edit-options {
        opacity: 1;
        padding-top: 12px;
        right: 0;
      }
    }
  }
}
