<div ng-repeat-start="sets in workouts.workout.sets"
     class="list-group-item list-header list-group-item-info row-item-{{$index}}"
     ng-class="{ 'show-edit-options': activeIndex === $index }">
     {{sets.exercise.name}}
  <div class="pull-right btn-xs edit-options">
    <a ng-click="selectExercise(sets.exercise, sets)"
       class="btn btn-xs btn-xxs btn-success"
       href=""
       title="add reps">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a ng-click="deleteSet($index)"
       class="btn btn-xs btn-xxs btn-danger"
       href=""
       title="delete reps">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
  </div>
  <div class="pull-right btn-xs show-edit">
    <a ng-click="showEditOptions($index)"
      class="btn btn-xs btn-primary show-btn"
      href="">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a ng-click="hideEditOptions()"
      class="btn btn-xs btn-primary close-btn"
      href="">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div ng-repeat-end="">
  <div class="list-group-item row-item-{{$parent.$index}}"
       ng-class="{ 'show-edit-options': activeIndex === $parent.$index }"
       ng-repeat="reps in sets.reps">
       {{reps.amount}} reps with {{reps.weight}}{{sets.exercise.metric}}
    <div class="pull-right btn-xs edit-options">
      <a ng-click="setEditReps(sets, reps)"
         class="btn btn-xs btn-xxs btn-success"
         href=""
         title="edit reps">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
      <a ng-click="deleteReps($parent.$index, $index)"
         class="btn btn-xs btn-xxs btn-danger"
         href=""
         title="delete reps">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
  </div>
</div>
