.quick-stats {
  padding-top: 0;
  padding-bottom: 0;
  > .item {
    padding-top: 8px;
    padding-bottom: 8px;
    &:nth-child(odd) {
      @media (min-width: $screen-lg) {
        border-right: 1px solid #eee;
      }
    }
    &:nth-child(2) {
      @media (min-width: $screen-lg) {
        border-top: 0 !important;
      }
    }
    & + .item {
      border-top: 1px solid #eee;
    }
  }
}

.progress-chart {
  .key {
    margin-top: -2px;
  }
}

.exercise-well {
  margin-top: 30px;
  margin-bottom: 30px;
}
