<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Workout</h3>
  </div>

  <div class="list-group" ng-if="workouts.newWorkout.sets.length">
    <div ng-repeat-start="sets in workouts.newWorkout.sets"
         class="list-group-item list-group-item-info">
         {{sets.exerciseName}}
         <a ng-ref="editSet()" class="btn btn-default btn-xs pull-right">Edit</a>
    </div>
    <div ng-repeat-end="">
      <div class="list-group-item"
           ng-repeat="reps in sets.reps">
           {{reps.amount}} reps with {{reps.weight}}{{sets.exercise.metric}}
      </div>
    </div>
  </div>

  <div ng-if="!workouts.newWorkout.sets.length">
    <div class="panel-body">
      <-- add workout
    </div>

  </div>

  <div ng-if="workouts.newWorkout.sets.length" class="panel-footer text-center">
    <button class="btn btn-success">Finish Workout</button>
  </div>

</div>

<h2>sets.newSet</h2>
<pre>{{sets.newSet | json}}</pre>
<hr>

<h2>workouts.newWorkout</h2>
<pre>{{workouts.newWorkout | json}}</pre>