<div class="page-header">
  <h2>View Workout</h2>
</div>

<div class="row">

  <div class="col-sm-6">

  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <a ng-click="deleteWorkout(workouts.workout, 'Are you sure you want to delete this workout?')"
             class="glyphicon glyphicon-trash"
             href=""
             title="delete workout">
          </a>
        </div>
        <h3 class="panel-title">My Workout</h3>
      </div>

      <div class="list-group">
        <div ng-repeat-start="sets in workouts.workout.sets"
             class="list-group-item list-group-item-info">
             {{sets.exerciseName}}
          <div class="pull-right btn-xs">
            <a ng-click="deleteSet($index)"
               class="glyphicon glyphicon-trash"
               href=""
               title="delete reps">
            </a>
          </div>
        </div>
        <div ng-repeat-end="">
          <div class="list-group-item"
               ng-repeat="reps in sets.reps">
               {{reps.amount}} reps with {{reps.weight}}{{sets.exerciseMetric}}
            <div class="pull-right btn-xs">
              <a ng-click="deleteReps($parent.$index, $index)"
                 class="glyphicon glyphicon-trash"
                 href=""
                 title="delete reps">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<pre>
{{workouts.workout | json}}
</pre>