.dashboard {
  .navbar {
    position: fixed;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .sidebar {
    display: none;
    @media (min-width: 768px) {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }
  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
  }
  .main {
    margin-top: 50px;
    position: relative;
    padding: 0 20px 80px;
    @media (min-width: 768px) {
        padding-right: 40px;
        padding-left: 40px;
    }
    .page-header {
      margin-top: 0;
      padding-top: 2px;
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.add-workout {
  text-align: center;
  padding-top: 20px;
}

.line-through {
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  height: 1px;
  margin: 35px 0;
  span {
    display: inline-block;
    position: relative;
    top: -9px;
    background-color: #fff;
    padding: 0px 10px;
  }
}

.count-well {
  margin: 40px 0 20px;
}
