<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Add set
    </h3>
  </div>
  <div class="panel-body">

    <p><strong>Add <span ng-if="sets.newSet.repeat">more</span> reps for {{exercises.selectedExercise.name}}</strong></p>

    <form name="repForm" class="row" novalidate>
      <div class="col-md-4 form-group">
        <input type="text"
               ng-model="sets.newReps.amount"
               name="amount"
               required
               ng-pattern="/[0-9]/"
               placeholder="Amount"
               class="form-control">
        <p ng-show="repForm.amount.$invalid && !repForm.amount.$pristine" class="text-danger">Enter a number</p>
      </div>
      <div class="col-md-4 form-group">
        <input type="text"
               ng-model="sets.newReps.weight"
               name="weight"
               required
               ng-pattern="/[0-9]/"
               placeholder="Weight"
               class="form-control">
        <p ng-show="repForm.weight.$invalid && !repForm.weight.$pristine" class="text-danger">Enter a number</p>
      </div>
      <div class="col-md-4">
        <button ng-click="createNewReps(sets.newReps, repForm)"
                ng-disabled="repForm.$invalid"
                class="btn btn-default btn-block">Add Reps</button>
      </div>

    </form>
  </div>

  <div class="panel-footer clearfix" ng-if="sets.newSet.reps.length">
    <div class="pull-right">
      Done with this set? <button ng-click="finishSet()" class="btn btn-primary">Finish Set</button>
    </div>
  </div>

</div>

