<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container signup-container">

  <header class="wrapper text-center signup-header">
    <h4>Sign up</h4>
    <strong>Sign up to get started</strong>
  </header>

  <form class="form" name="form" ng-submit="register(form)" novalidate>
    <div class="list-group">
      <div class="list-group-item" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
        <input placeholder="Name" type="text" name="name" class="form-control no-border" ng-model="user.name" required/>
      </div>


      <div class="list-group-item" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
        <input placeholder="Email" type="email" name="email" class="form-control no-border" ng-model="user.email" required mongoose-error/>
      </div>

      <div class="list-group-item" ng-class="{ 'has-success': form.password.$valid && submitted,
                                        'has-error': form.password.$invalid && submitted }">

        <input placeholder="Password" type="password" name="password" class="form-control no-border" ng-model="user.password"
               ng-minlength="3"
               required
               mongoose-error/>
      </div>

    </div>

    <div class="form-group has-error">

      <p class="help-block" ng-show="form.name.$error.required && submitted">
        A name is required
      </p>

      <p class="help-block" ng-show="form.email.$error.email && submitted">
        Doesn't look like a valid email.
      </p>
      <p class="help-block" ng-show="form.email.$error.required && submitted">
        What's your email address?
      </p>
      <p class="help-block" ng-show="form.email.$error.mongoose">
        {{ errors.email }}
      </p>

      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
        Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && submitted">
        Please enter a valid email.
      </p>

      <p class="help-block"
         ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
        Password must be at least 3 characters.
      </p>
      <p class="help-block" ng-show="form.password.$error.mongoose">
        {{ errors.password }}
      </p>

      <p class="help-block">{{ errors.other }}</p>

    </div>

    <button class="btn btn-block btn-lg btn-primary btn-login" type="submit">
      Sign up
    </button>
  </form>
  <div class="signup-login-link">
    <p class="text-muted text-center"><small>Already have an account?</small></p>
    <a href="signup.html" ui-sref="login" class="btn btn-lg btn-default btn-block">Log in</a>
  </div>
</div>

<div class="footer"><p class="text-muted">Created by <a href="mailto:goepfertjeanmarc@gmail.com">Jean-Marc Goepfert</a></p></div>
