div[lb-doughnut-chart] {
  .labels {
    max-width: 80%;
    margin: 10px auto;
    .label {
      margin: 2px;
      display: inline-block;
    }
  }
  canvas {
    margin-bottom: 20px;
  }
  .panel-body {
    padding-bottom: 5px;
  }
}
