<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right workout-btns">
      <a ui-sref=".choose-exercise"
         class="btn btn-xs btn-success"
         title="add to set">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a ng-click="deleteWorkout(workouts.workout, 'Are you sure you want to delete this workout?')"
         class="btn btn-xs btn-danger"
         href=""
         title="delete workout">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
    <h3 class="panel-title">My Workout</h3>
  </div>

  <div lb-workout-panel class="lb-workout-panel list-group"></div>

</div>
